
<header>
    <h1>Anna&Artúr</h1>
</header>



<nav class="navbar">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Kezdőlap</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="feedback">Visszajelzés</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="location">Helyszín</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="gifts">Nászajándék</a></li>

        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
